<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="services" type="RiemannHealth.ServiceInfoSection, RiemannHealth" />     
  </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="RiemannHost" value="localhost" />
		<add key="RiemannPort" value="5555" />
		<add key="IncludeGCstats" value="false" />
    <add key="Interval" value="1" />
    <add key="TTL" value="5" />
	</appSettings>

  <services>
    <service name="Windows Firewall" />
    <service name="Windows Event Log" />
    <service name="Windows Event Collector" />
  </services>

</configuration>
